.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.btn-gob{
    background-color: #4A001F;
    color: white;
}

.btn-gob:hover{
    background-color: rgba(255, 195, 208, 0.9);
    color: #4A001F;
}

.bg-gob{
    background-color: #4A001F;
    color: white;
}

body{
  background-color: rgb(238, 238, 238);
}
